/* SERIF FONT */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/* GROTESK FONT 
AVAILABLE IN 100, 400 (normal), 600
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');


body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h1, h2, h3, .overlay-text, .text-serif{
    font-family: 'Playfair Display', serif;
}

/* RECIPES */
.recipe-container{
    margin: 65px;
}

.img-container{
    margin-top: 20px;
    margin-bottom: 10px;
}


.recipe:hover .recipe-title {
    display: block;
  }
  
  .img-container {
    position: relative;
  }
  
  .image {
    display: block;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(255, 255, 255, 0.7);
  }
  
  .img-container:hover .overlay {
    opacity: 1;
  }
  
  .overlay-text {
    color: black;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.accordion {
    --bs-accordion-active-bg: rgb(232, 232, 232);
  }

 @media (max-width: 422px) {.recipe-container{
    margin: 15px 55px;
    font-size: 12px;
 }
}

  @media (min-width: 423px) and (max-width: 650px) {.recipe-container{
    margin: 35px;
    font-size: 14px;
 }
  }